body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Style the container div */
#container {
  margin: 0 auto;
  padding: 50px;
}

#Xray{
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

#danger_items{
  width: 100%;
  height: 100%;
  margin-top: 2%;
}

.KatyLightScrollRowsBox > .content::-webkit-scrollbar,
    .KatyLightScrollRowsBox > .content::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

.KatyLightScrollRowsBox > .content {
  scrollbar-width: none;
  scrollbar-height: none;
  background-color: white;
}

.KatyLightScrollRowsBox {
  user-select: none;
}

.KatyLightScrollRowsBox > .content {
  overflow-x: scroll;
  overflow-y: hidden;
  /*overflow: hidden;*/

}

.KatyLightScrollRowsBox > .scrollBox > .scroll {
  background-color: #baf5ff66;
  border-radius: 3px;
  height: 20px;
  width: 100%;
  flex: 1;
  position: relative;
}

.KatyLightScrollRowsBox > .scrollBox {
  display: flex;
  padding: 2px 0;

}

.KatyLightScrollRowsBox > .scrollBox > .left, .KatyLightScrollRowsBox > .scrollBox > .right {
  background-color: #ffc3f7;
  border-radius: 3px;
  height: 20px;
  width: 40px;
  text-align: center;
  color: #0d4c62;
  vertical-align: middle;
  line-height: 20px;
  font-size: 12px;
  user-select: none;
}

.KatyLightScrollRowsBox > .scrollBox > .left:hover, .KatyLightScrollRowsBox > .scrollBox > .right:hover {
  color: white;
  background-color: #0d4c62;
}

.KatyLightScrollRowsBox > .scrollBox > .left::before {
  content: '◀';
}

.KatyLightScrollRowsBox > .scrollBox > .right::before {
  content: '▶';
}

.KatyLightScrollRowsBox > .scrollBox > .left {
  margin-right: 2px;
}

.KatyLightScrollRowsBox > .scrollBox > .right {
  margin-left: 2px;
}

.KatyLightScrollRowsBox > .content {
  /*background-color: #080E14;*/
  width: auto;
}

.KatyLightScrollRowsBox > .scrollBox > .scroll > .bar {
  background-color: #a2d0ff;
  position: absolute;
  z-index: 33;
  border-radius: 3px;
  width: 30px;
  height: 20px;
  left: 0;
  top: 0;
}

#Xray .list {
  height: 400px;
  padding: 10px;
  float: left;
  min-width: 100%;
  font-size: 0;
  white-space: nowrap;
  /*display:table;*/
}
#Xray .list > .item:last-child{
  margin-right: 3px;
}

#Xray .list > .item:hover {
  box-shadow: inset 0 0 0 1px #00b2ff;
}


.KatyLightScrollRowsBox > .content:after {
  display: block;
  content: '';
  clear: both;
}


.KatyLightScrollRowsBox >.scrollBox> .scroll > .bar:hover {
  background-color: #0d4c62;

}

.list > .item {
    margin-left: 3px;
    display: inline-block;
    height: 100%;
    width: auto;
    /*border-radius: 10px;*/
    color: white;
    object-fit:fill;
  }
.list > .item img {
  margin-left: 3px;
  display: inline-block;
  height: 90%;
  /*border-radius: 10px;*/
  color: white;
  object-fit:fill;
}


/* #danger_items  .list > .item {
  height: 50%;
} */
#danger_items  .list > .item{
  height: 250px;
  width:200px;
  margin-bottom: 20px;
}

#danger_items .list > .item img {
  position: relative;
  width: 100%;
  object-fit:contain;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #f7f7f7;
}


#danger_items  .list > .item > .name{
  position: relative;
  color: crimson;
  font-size: 22px;
  text-align: center;
  bottom: -1%;
}

#danger_items .list > .item img:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
  z-index: -1;
}



/* Style the personinfo header */
.personinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

/* Style the image in the personinfo header */
.personinfo img {
  position: relative;
  top: auto;
  left: 5%;
  margin-right: 10px;
  width: 80px;
  height: 120px;
  border: 2px solid #ccc;
}

.personinfo .title {
  position: relative;
  top: -70px;
  width: 408px;
  height: 56px;
  font-weight: bold;
  font-size: 3vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Style the table headers */
th {
  text-align: left;
  background-color: #eee;
  padding: 8px;
}

/* Style the table rows */
td {
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 8px;
}

/* Style the first column of the table */
td:first-child {
  font-weight: bold;
}

/* Style the article section */
article {
  line-height: 1.5;
}
